.cfs-button-text{
	font-size: 0.9em;
	width: auto;
}
.minus10pc {  
  font-size: 0.9em;
}
.minus20pc {  
  font-size: 0.8em;
}
.plus10pc {  
  font-size: 1.1em;
}
.plus20pc {  
  font-size: 1.2em;
}
.plus25pc {  
  font-size: 1.25em;
}
.plus30pc {  
  font-size: 1.3em;
}
